<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Register Guru</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">

    <h1>📝 Register Guru</h1>

    <!-- REGISTER → LOGIN -->
    <form action="/login-guru">

        <input
        type="text"
        placeholder="Nama Lengkap"
        required>

        <input
        type="email"
        placeholder="Email"
        required>

        <input
        type="text"
        placeholder="Username"
        required>

        <input
        type="password"
        placeholder="Password"
        required>

        <input
        type="text"
        placeholder="NIP / ID Guru"
        required>

        <select required>

            <option value="">
                Pilih Status Guru
            </option>

            <option>
                Guru Tetap
            </option>

            <option>
                Guru Honorer
            </option>

            <option>
                Mahasiswa PPL
            </option>

        </select>

        <button type="submit">
            Register
        </button>

    </form>

    <a href="/login-guru">
        <button class="back-btn">
            ⬅ Kembali Login
        </button>
    </a>

</div>

</body>
</html>